.home {
  position: relative;
  text-align: center;
  margin-top: 56px; /* Offset the height of the navigation bar */
}

.carousel {
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  
}

.carousel-item img {
  width: 100%;
  height: 100vh; /* Full viewport height */
  object-fit: cover;
  
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 10, 10, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.carousel-caption .text-container {
   /* Optional: Adds a semi-transparent background to the text */
  padding: 20px;
  border-radius: 10px;
}

.text-container {
  max-width: 50%;
}

.text-content {
  color:white;
  text-align: left; /* Align text to the left */
}

.text-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.button-container {
  margin-top: 20px; /* Adjust spacing between text and button */
}

.additional-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  margin-top: 2rem; /* Adjust spacing from carousel */
  padding: 2rem; /* Add padding for spacing */
}

.info-text {
  flex: 1;
  margin-right: 2rem;
}

.info-container {
  margin-bottom: 2rem; /* Add spacing between sections */
}

.info-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info-container p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.info-image {
  flex: 1;
  max-width: 40%; /* Adjust as needed */
}

html {
  scroll-behavior: smooth;
}

.info-image img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: Add border radius for styling */
}

.footer {
  background-color: gray;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.footer p {
  margin: 0.5rem 0;
  font-size: 1rem;
}



